body{
  background-image: url(../images/mathe.jpg);
}

#interface{
  border: 2px solid black;
  width: 600px;
  margin: auto;
  padding-top:30px;
  overflow: auto;
  background-color: #2F4F4F;
}

#result {
  width: 433px;
  margin: 0px 15px;
  overflow: auto;
  background-color: hsla(161, 100%, 91%, 1);
  padding: 50px;
  border: 2px solid black;
  text-align: center;
}

.row{
  display: flex;
  padding: 2%;
}

.math{
  cursor: -webkit-grab;
  cursor: grab;
  text-align: center;
  margin-right: 10%;
  border: 2px solid black;
  background-color: gray;
  padding: 25px;
}
.math:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: red;
}

.reset{
  padding: auto;
  border: 1px solid black;
}

.box:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: red;
}
.box{
  cursor: -webkit-grab;
  cursor: grab;
  border: 2px solid none;
  padding: 20px;
  text-align: center;
  background-color: gray;
}
